<footer>
    <h2>Navigation</h2>
    <div id="footer-nav" class="fill-nav"></div>
    <h2>Kontakt</h2>
    <div class="side-by-side">
        <p>
            <strong>SP Sursee</strong><br>
            Beni Rindlisbacher<br>
            Oberstadt 26<br>
            6210 Sursee<br>
            079 712 89 93
        </p>
        <p>
            <strong>GRÜNE Sursee</strong><br>
            Samuel Zbinden<br>
            Badstrasse 9<br>
            6210 Sursee<br>
            079 351 60 61
        </p>
        <p>
            <strong>Grünliberale Sursee</strong><br>
            Mario Cozzio<br>
            Bahnhofstrasse 33<br>
            6210 Sursee<br>
            079 455 77 08
        </p>
    </div>

</footer>
